/.ipynb_checkpoints
/Codecademy Projects
/Discord Bot
/Election Analysis
/Election Map
/Enigma
/Jupyter
/Minecraft bots
/pipenv
/Pokemon
/Project Euler
/Pygame
/Python.code-workspace
/Tutorials
/Unsorted
/Wordle